@model bool

@if (Model)
{
    <blockquote class="blockquote-reverse" id="NewsContainer">
        <h3 id="News" class="Title text-right">Новости</h3>
        <div id="NewsList"></div>
    </blockquote>
    <a href="#" id="loadLink">Показать ещё</a>
    <div id="loading"><img src="~/Content/load.gif" /></div>
}


