@model IEnumerable<Application.Models.ApplicationUser>

@foreach (var item in Model)
{
    <a href="@Url.Action("User", "AdminManage", new { id = item.Id })" class="list-group-item"><h5><span class="glyphicon glyphicon-user" aria-hidden="true"></span> @item.UserName</h5></a>
}
