@model IEnumerable<Application.Models.ApplicationUser>
@{
    ViewBag.Title = "Управление пользователями";
    }

<blockquote>
    <div class="row">
        <h3 id="News" class="Title text-left col-lg-8">Пользователи</h3>
        <div class="col-lg-4">
            <div class="input-group">
                <input id="searchInput" type="text" class="form-control" placeholder="Поиск">
                <span class="input-group-btn">
                    <button id="searchButton" class="btn btn-default" type="button">OK!</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-4 -->
    </div>


    <div class="list-group" id="scrolList">
        @Html.Partial("_Items")
    </div>

    <a href="#" id="loadLink">Показать ещё</a>

    <div id="loading"><img src="~/Content/load.gif" /></div>

</blockquote>


@section scripts
{
    @Scripts.Render("~/Scripts/Users.js")
}