<blockquote class="blockquote-reverse">
    @if (ViewBag.HasUserRoutes)
    {
        <ul class="list-group" >
            <li class="list-group-item">
                <div class="row">
                    <div class="col-lg-4"><h4 class="text-capitalize"> @Html.ActionLink("Мои маршруты:", "Edit", "Routes")</h4></div>
                    <div class="col-lg-8">
                        @Html.DropDownList("userRoutes", new SelectList(new List<string>()), "", new { @class = "form-control", onchange = "SelectRoute();" })
                    </div>
                </div>
            </li>
        </ul>
            <div id="Routes">

            </div>
    }
    else
    {
        <h4>@Html.ActionLink("Добавьте", "Add", "Routes") свои наиболее часто используемые маршруты для более удобного просмотра расписания</h4>
    }
</blockquote>