@model Application.Models.Admin.AddBusViewModel

@{
    ViewBag.Title = "Добавить автобус";
}

<p class="bg-success">@TempData["Success"]</p>
<p class="bg-danger">@Html.ValidationSummary()</p>

<blockquote>
    <div class="row">
        <h3 id="News" class="Title text-left col-lg-9">Добавить автобус</h3>
    </div>
    @using (Html.BeginForm("AddBus", "Admin", FormMethod.Post))
    {
        <div class="input-group">
            @Html.TextBoxFor(x => x.Number, new { @class = "form-control" })
            <button type="submit" class="btn btn-success input-group-addon">Добавить</button>
        </div>
    }
</blockquote>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

