@model IEnumerable<Application.Models.Routes.RoutesViewModel>

<ul class="list-group">
    @foreach (var item in Model)
    {
    <li class="list-group-item">
        <h4 class="text-capitalize"><strong>Маршрут N: </strong>@item.BusNumber</h4>
        <h4 class="text-capitalize"><strong>Остановка:</strong> @item.Stop</h4>
        <h4 class="text-capitalize"><strong>Ближайший маршрут:</strong> @item.NearestBus</h4>
    </li>
    }
</ul>
