@model Application.Models.Cities.CitiesIndexViewModel
<blockquote>
    <h4 class="text-muted">
        @*@Html.DropDownList("city", new SelectList(Model), (string)ViewBag.SelectedCity, new {onchange = "SelectCity();" })*@
        <select id="city" onchange="SelectCity();">
            @foreach (var name in Model.Cities)
            {
                <option>@name</option>
            }
        </select>
    </h4>
</blockquote>
  

<script type="text/javascript">
   var allCities = document.getElementById("city");
    for (i = 0; i < allCities.length; i++) {
        if (allCities.options[i].value == "@Model.SelectedCity") {
            allCities.options.selectedIndex = i;
        }
    }
    

</script>
