@model Application.Models.Cities.CityViewModel
@{
    ViewBag.Title = "Add";
}
<p class="bg-success">@TempData["Success"]</p>
<p class="bg-danger">@Html.ValidationSummary()</p>

<blockquote>
    <div class="row">
        <h3 id="News" class="Title text-left col-lg-9">Добавить город</h3>
    </div>
        @using (Html.BeginForm("Add", "Cities", FormMethod.Post))
        {
            <div class="input-group">
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                <button type="submit" class="btn btn-success input-group-addon">Добавить</button>
            </div>
        }
</blockquote>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}